@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{

    --primary-color:  rgb(17, 86, 102);
    --primary-color-darker:  rgb(9, 48, 56);


}

*{

    box-sizing: border-box;
    outline: 0;
}

body{

    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

}

.container{

    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

article{

    margin: 0 auto;
    


}

div{

    width: 49.5%;
    display: inline-block;
    margin: 0 auto;
    
}

h3{

    font-weight: bold;

}

p{

    font-weight: normal;

}

form input, form label, form button{

    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{

    font-size: 24px;
    height: 50px;
    padding: 0 20px;

}

form input:focus{

    outline: 1px solid var(--primary-color);

}

form button{

    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{

    background-color: var(--primary-color-darker);

}

div.resultado{

    width: 100%;

}

/* .result{

    background-color: rgb(17, 231, 185);
    padding: 0 10px;

}

.resultNeg{

    background-color: rgb(231, 17, 17);
    padding: 0 10px;

} */